<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">PERAN ANDA</h3>
	</div>
	<div class="box-body">
		<p>Anda adalah kontroler unit bisnis minuman yang telah bekerja di Perusahaan CITRA selama lima tahun. Kontroler unit bisnis adalah salah satu anggota tim manajemen unit bisnis yang bertanggung jawab dan melaporkan kepada general manager unit bisnis dan CFO Perusahaan CITRA. Atasan Anda adalah Dino yang merupakan general manager unit bisnis minuman perusahaan CITRA.</p>
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=1" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>