<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">PROFIL PERUSAHAAN</h3>
	</div>
	<div class="box-body">
		<p>Perusahaan CITRA adalah perusahaan makanan dan minuman (food and beverage) yang memiliki 710 pegawai dengan dua unit bisnis, yaitu roti dan minuman. Unit bisnis roti memproduksi roti dan kue kering. Unit bisnis minuman memproduksi minuman soda dan es krim. Setiap unit bisnis memiliki staf yang dikepalai oleh kontroler.</p>
		<p>Seluruh unit bisnis adalah pusat investasi. Setiap tahun manager unit bisnis dan manager perusahaan bersama-sama memutuskan anggaran tahunan untuk unit bisnis. Target unit bisnis menggunakan Return on Investment (ROI= net earnings unit bisnis dibagi dengan capital invested unit bisnis). Seluruh tim manajemen unit bisnis menerima bonus tahunan tergantung pada realisasi ROI unit bisnis. Jika realisasi unit bisnis memenuhi target, maka tim manajemen menerima bonus maksimal sebesar 25% dari gaji tetap.</p>
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=1" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>