<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">KODE ETIK PERUSAHAAN</h3>
	</div>
	<div class="box-body">
		{% if dataresponden.group in list14 %}
			<p>Perusahaan CITRA saat ini belum mempunyai kode etik tertulis sebagai pedoman perilaku etis karyawan. Alhasil ketika terjadi pelanggaran etika yang dilakukan oleh karyawan maka tidak ada tindakan yang diambil perusahaan untuk memberikan sanksi atas pelanggaran tersebut.</p>
		{% elif dataresponden.group in list25 %}
			<p>Untuk mengatur perilaku karyawan, perusahaan <strong>memiliki kode etik</strong> tertulis. Aturan pokok dalam kode etik mengharuskan setiap karyawan bertindak jujur dan berintegritas, menghindari kepentingan konflik kepentingan, memberikan informasi yang objektif dan dilarang menggunakan informasi rahasia untuk kepentingan pribadi, serta bertanggung jawab dan berhati-hati. Namun, keberadaan kode etik perusahaan <strong>tidak diikuti aturan mengenai sanksi</strong> bila terjadi pelanggaran etika. Beberapa <strong>kasus pelanggaran etika</strong> yang pernah ada nyatanya berlalu begitu saja <strong>tanpa penyelesaian dan pemberian sanksi</strong>. Alhasil, kode etik perusahaan tidak terlalu dianggap penting oleh karyawan, hanya sebagai buku saku saja.</p>
		{% else %}
			<p>Untuk mengatur perilaku karyawan, perusahaan <strong>memiliki kode etik tertulis</strong>. Aturan pokok dalam kode etik mengharuskan setiap karyawan bertindak jujur dan berintegritas, menghindari kepentingan konflik kepentingan, memberikan informasi yang objektif dan dilarang menggunakan informasi rahasia untuk kepentingan pribadi, serta bertanggung jawab dan berhati-hati.</p>
			<p><strong>Pelanggaran</strong> terhadap kode etik perusahaan dapat <strong>dikenakan sanksi</strong>, mulai dari sanksi disiplin hingga pemutusan kerja. Perusahaan menerapkan sanksi dengan ketat sesuai dengan tingkat pelanggaran yang dilakukan oleh karyawan. Pemberian sanksi berdasarkan hasil rekomendasi dari Komite Etik Perusahaan. Dengan adanya sanksi yang jelas, manajemen dan karyawan menganggap <strong>keberadaan kode etik</strong> sesuatu hal yang <strong>penting</strong> dan <strong>wajib dipatuhi</strong>.</p>
		{% endif %}
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=2" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>