<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">Capaian ROI Unit Bisnis Minuman Perusahaan CITRA Tahun 2013-2017</h3>
	</div>
	<div class="box-body">
		<p>Pada akhir bulan Oktober 2017, hasil evaluasi tim managemen unit bisnis minuman menunjukkan kemungkinan sangat kecil mencapai target ROI (ROI baru terealisasi 13,1%). Berikut ini tabel target dan realisasi ROI tahun 2013-2017:</p>
		<center><p><strong>Unit Bisnis Minuman ROI Target dan Realisasi Tahun 2013-2017</strong></p></center>
		<table class="table table-bordered table-striped">
	        <tbody>
	        	<tr>
	          		<th>Tahun</th>
	          		<th>Target ROI</th>
	          		<th>Realisasi ROI</th>
	          		<th>Keterangan</th>
	        	</tr>
		        <tr>
		          	<td>2013</td>
		          	<td>10%</td>
		          	<td>9%</td>
		          	<td>Belum Tercapai</td>
		        </tr>
		        <tr>
		          	<td>2014</td>
		          	<td>12%</td>
		          	<td>12.2%</td>
		          	<td>Tercapai</td>
		        </tr>
		        <tr>
		          	<td>2015</td>
		          	<td>12.5%</td>
		          	<td>13%</td>
		          	<td>Tercapai</td>
		        </tr>
		        <tr>
		          	<td>2016</td>
		          	<td>13%</td>
		          	<td>13.6%</td>
		          	<td>Tercapai</td>
		        </tr>
		        <tr>
		          	<td>2017</td>
		          	<td>14%</td>
		          	<td>13.1%</td>
		          	<td>Belum Tercapai</td>
		        </tr>
	        
	      	</tbody>
	  	</table>
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=3" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>