<div class="box box-default">
	<div class="box-header">
		
	</div>
	<div class="box-body">
		<p>Pada akhir bulan Oktober 2017, tim manajemen unit bisnis minuman melakukan rapat untuk menentukan anggaran tahun 2018. Berdasarkan perhitungan yang dilakukan tim manajemen, Dino dan Anda optimis unit bisnis minuman dapat mencapai ROI sebesar 14,5% pada tahun 2018. Namun Dino meminta Anda untuk mengajukan proposal anggaran tahun 2018 dengan target ROI sebesar 13,5% (di bawah perhitungan target ROI). Dino tidak mau mengambil risiko jika target ROI tidak tercapai selama dua (2) tahun berturut-turut dan kemungkinan akan kehilangan bonus</p>
		<p>Anda sebagai kontroler menyadari bahwa mengajukan anggaran tahun 2018 dengan ROI sebesar 13,5% tersebut adalah suatu yang tidak jujur. Anda harus memutuskan sendiri apakah harus memenuhi permintaan Dino untuk mengajukan anggaran tahun 2018 dengan target ROI sebesar 13,5%.</p>
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=5" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>