{% load static %}
<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">PENGAMBILAN KEPUTUSAN</h3>
	</div>
	<div class="box-body">
		<p>Anda berfokus pada prestasi dan kemajuan karir, dan sangat bersemangat untuk mencapainya. Mengajukan anggaran sesuai dengan permintaan Dino adalah kesempatan untuk mendapatkan bonus. <strong>Bagi Anda bonus adalah ukuran dari kinerja</strong>. Selain itu perusahaan CITRA saat ini <strong>belum mempunyai kode etik</strong> tertulis sebagai pedoman perilaku etis karyawan. Sehingga jika terjadi pelanggaran etika yang dilakukan oleh karyawan maka tidak ada tindakan yang diambil perusahaan untuk memberikan sanksi atas pelanggaran tersebut.
		</p>
		
	</div>
	<div class="box-footer">
	    <a href="{% url 'pertanyaan' %}/?n=1" class="btn btn-primary pull-right">Next</a>
	</div>

	<!-- /.box-body -->
</div>