<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">RESPON 4</h3>
	</div>
	<form method="POST" action="">
		{% csrf_token %}
		<div class="box-body">
			<p>Mohon Anda menjawab pertanyaan-pertanyaan berikut ini. Kumpulan pertanyaan-pertanyaan ini menanyakan kepada Anda seberapa sering kejadian-kejadian tertentu yang benar-benar terjadi atau telah terjadi dalam kehidupan Anda.</p>
			<ol>
				<!-- 1 -->
				<li>
					<p>Dibandingkan dengan kebanyakan orang, apakah Anda biasanya tidak dapat memperoleh apa yang Anda inginkan dalam hidup?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-9" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-9" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-9" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-9" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-9" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 2 -->
				<li>
					<p>Sejak kecil sampai sekarang (selama hidup), apakah Anda pernah “melewati batas” dengan melakukan hal-hal yang tidak ditolerir oleh orang tua Anda?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-10" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-10" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-10" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-10" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-10" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 3 -->
				<li>
					<p>Seberapa sering Anda mencapai hal-hal yang membuat Anda "terpacu" untuk bekerja lebih keras?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-11" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-11" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-11" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-11" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-11" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 4 -->
				<li>
					<p>Apakah Anda sering menyakiti hati orang tua Anda sepanjang hidup anda?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-12" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-12" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-12" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-12" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-12" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 5 -->
				<li>
					<p>Seberapa sering Anda mematuhi aturan dan peraturan yang telah ditetapkan oleh orang tua Anda?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-13" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-13" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-13" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-13" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-13" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 6 -->
				<li>
					<p>Selama hidup apakah Anda pernah melakukan hal-hal yang dianggap tidak boleh dilakukan oleh orang tua Anda?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-14" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-14" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-14" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-14" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-14" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 7 -->
				<li>
					<p>Apakah Anda sering berhasil ketika mencoba berbagai hal?</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-15" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-15" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-15" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-15" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-15" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 8 -->
				<li>
					<p>Kadang - kadang, saya mendapat masalah karena tidak cukup berhati-hati.</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-16" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-16" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-16" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-16" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-16" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 9 -->
				<li>
					<p>Ketika harus mencapai hal-hal yang penting bagi saya, saya tidak berkinerja sebaik yang saya ingin.</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-17" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-17" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-17" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-17" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-17" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 10 -->
				<li>
					<p>Saya merasa seperti telah mencapai kemajuan menuju keberhasilan dalam hidup saya.</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-18" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-18" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-18" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-18" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-18" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>
				<!-- 11 -->
				<li>
					<p>Saya tidak menemukan banyak hobi atau kegiatan dalam hidup saya yang menarik minat saya atau memotivasi saya untuk berusaha.</p>
					<table class="table" style="table-layout: fixed;">
						<tr>
							<td>
								<center><input type="radio" name="q-19" class="flat-blue" value="1" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-19" class="flat-blue" value="2" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-19" class="flat-blue" value="3" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-19" class="flat-blue" value="4" required></center>
							</td>
							<td>
								<center><input type="radio" name="q-19" class="flat-blue" value="5" required></center>
							</td>
						</tr>
						<tr>
							<td>
								<center>1</center>
							</td>
							<td>
								<center>2</center>
							</td>
							<td>
								<center>3</center>
							</td>
							<td>
								<center>4</center>
							</td>
							<td>
								<center>5</center>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span class="pull-left"><strong>Tidak Pernah</strong></span>
							</td>

							<td colspan="1">
								<center><span><strong>Kadang-Kadang</strong></span></center>
							</td>

							<td colspan="2">
								<span class="pull-right"><strong>Sangat Sering</strong></span>
							</td>
						</tr>
					</table>
				</li>

			</ol>
		</div>
		<div class="box-footer">
		    <button type="submit" class="btn btn-primary pull-right">Selesai</button>
		</div>
	</form>
</div>